<div class="col m10 offset-m1">

	<h1><%= @bucket.category %></h1>
	<%= button_to 'New Activity', new_bucket_activity_path(@bucket), class: 'btn waves-effect waves-light', method: :get %>


	<div class="row">
		<% @activities.each do |activity| %>
			<div class="col s12 m6 l3">
				<div class="card blue darken-1 small">
					<div class="card-content white-text">
						<span class="card-title"><%= activity.name %></span>
					</div>
					<div class="card-action">
	 					<%= link_to 'Edit', edit_bucket_activity_path(@bucket, activity) %>
						<%= link_to 'Delete', bucket_activity_path(@bucket, activity), method: :delete %>
					</div>
				</div>
			</div>	 	
		<% end %>
	</div>
</div>