<div class="row">
  <div class="col m3 z-depth-2 #ef5350 red lighten-3">
      <h2 class="banner-top">Sign In</h2>
  </div>
</div>
<div class="row">
  <div class="col m8 offset-m2 blue-grey lighten-5 z-depth-2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
      <i class="material-icons">email</i>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>