<!DOCTYPE html>
<html>
<head>
  <title>BucketList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
<hr />
	<%= link_to 'Main Page', buckets_path %> | <%= link_to 'New Buket', new_bucket_path %> 
	
</footer>
</body>
</html>
