<!DOCTYPE html>
<html>
<head>
  <title>BucketList</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="#42a5f5 blue lighten-1">
 <nav>
    <div class="nav-wrapper z-depth-3">
      <a href="#" class="brand-logo">Buket</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
      <% else %>
      	<li><%= link_to 'LOG IN', user_session_path %></li>
      <% end %>
        <li><%= link_to 'NEW BUKET', new_bucket_path %></li>
      </ul>
    </div>
  </nav>
  <div class="container full-height blue lighten-3 main z-depth-2">
    <div class="row">
      <%= yield %>
    </div>
  </div>
<footer>
<hr>
<div class="white-text">
	<%= link_to 'Main Page', buckets_path %> | <%= link_to 'New Buket', new_bucket_path %> | <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
</div>
</footer>
</body>
</html>
