<!DOCTYPE html>
<html>
<head>
  <title>BucketList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav>
    <div class="nav-wrapper z-depth-3">
      <a href="#" class="brand-logo">Buket</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">LOGGIN</a></li>
        <li><a href="badges.html">TEST</a></li>
        <li><a href="collapsible.html">NEW BUKET</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
	<%= yield %>
  </div>
<footer>
<hr />
	<%= link_to 'Main Page', buckets_path %> | <%= link_to 'New Buket', new_bucket_path %> 
	
</footer>
</body>
</html>
